body{
    background-color: rgb(69, 153, 94);
    color:black;
    font-family: "Sofadi One", system-ui;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(250, 215, 215);
    color:rgb(0, 0, 0);
    font-family: "Sofadi One", system-ui;
}

.passo{
    display:nome;
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
}
